# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
classes

# gradle
build
.gradle

# other
eclipse
run
libs

# custom
logs

*.jks
# This file contains OS-specific path separators and therefore isn't particularly useful in git
src/generated/resources/.cache/cache
# Local gradle customizations (e.g. added mods)
custom.gradle
# Flatdir repo for mods not available on a proper Maven server
flatdir
