/.git
/.gradle
/.settings
/asm
/bin
/blueprints
/build
/config
/crash-reports
/dumps
/eclipse
/libs
/externalLibs
/logs
/mods
/mod-config
/resourcepacks
/saves
/screenshots
/scripts
/.classpath
/.project
/copy
/git
/world
options.txt
eula.txt
server.properties
usercache.json
usernamecache.json
whitelist.json
ops.json
banned-ips.json
banned-players.json
servers.dat
config.cfg
GregTech.cfg
GregTech.lang
minetweaker.log
BotaniaVars.dat
tailslibrary.json
.DS_Store
*.log
hs_err*
*iml
*.ipr
*.iws
/.idea
/out
*.dll