public net.minecraft.client.renderer.WorldRenderer field_147593_P # mapSoundPositions TODO See ClientEventHandler ~L320
public net.minecraft.entity.item.TNTEntity field_94084_b # tntPlacedBy TODO check default access
public net.minecraft.inventory.container.Container field_75153_a # inventoryItemStacks TODO Replace with non-accessor to clear the list?

public net.minecraft.tileentity.TileEntity field_195045_e # cachedBlockState
public net.minecraft.client.gui.FontRenderer func_228081_c_(Ljava/lang/String;FFIZLnet/minecraft/client/renderer/Matrix4f;Lnet/minecraft/client/renderer/IRenderTypeBuffer;ZII)F # renderStringAtPos
public net.minecraft.client.gui.FontRenderer field_211127_e # font
public-f net.minecraft.client.renderer.entity.MinecartRenderer field_77013_a # MinecartModel
public net.minecraft.world.storage.loot.LootEntryManager func_216194_a(Lnet/minecraft/world/storage/loot/LootEntry$Serializer;)V # func_216194_a/register
public net.minecraft.entity.item.ItemEntity field_70292_b # age
public net.minecraft.world.Explosion func_229976_a_(Lit/unimi/dsi/fastutil/objects/ObjectArrayList;Lnet/minecraft/item/ItemStack;Lnet/minecraft/util/math/BlockPos;)V # func_229976_a_
public net.minecraft.client.renderer.WorldRenderer func_228429_a_(Lcom/mojang/blaze3d/matrix/MatrixStack;Lcom/mojang/blaze3d/vertex/IVertexBuilder;Lnet/minecraft/entity/Entity;DDDLnet/minecraft/util/math/BlockPos;Lnet/minecraft/block/BlockState;)V # drawSelectionBox
public net.minecraft.village.PointOfInterestType func_221052_a(Lnet/minecraft/village/PointOfInterestType;)Lnet/minecraft/village/PointOfInterestType; # registerBlockState
public net.minecraft.village.PointOfInterestType <init>(Ljava/lang/String;Ljava/util/Set;II)V
public net.minecraft.entity.merchant.villager.VillagerProfession <init>(Ljava/lang/String;Lnet/minecraft/village/PointOfInterestType;Lcom/google/common/collect/ImmutableSet;Lcom/google/common/collect/ImmutableSet;Lnet/minecraft/util/SoundEvent;)V
public net.minecraft.potion.PotionBrewing field_185213_a # POTION_TYPE_CONVERSIONS
public net.minecraft.client.gui.IngameGui field_184049_t # overlaySubtitle
public net.minecraft.client.gui.overlay.SubtitleOverlayGui field_184070_f # subtitles
public net.minecraft.block.ConcretePowderBlock field_200294_a # solidifiedState
public-f net.minecraft.client.renderer.model.Model func_228282_a_(Lnet/minecraft/util/ResourceLocation;)Lnet/minecraft/client/renderer/RenderType; # getRenderType
public net.minecraft.client.renderer.RenderState field_228509_a_ # name
public net.minecraft.entity.ai.brain.task.GiveHeroGiftsTask field_220403_a # GIFTS
public net.minecraft.item.crafting.RecipeManager func_215366_a(Lnet/minecraft/item/crafting/IRecipeType;)Ljava/util/Map; #getRecipes
public net.minecraft.client.Minecraft field_211501_aD # fontResourceMananger
public net.minecraft.entity.projectile.ProjectileEntity field_234609_b_ # shootingEntity
public net.minecraft.loot.functions.LootFunctionManager func_237451_a_(Ljava/lang/String;Lnet/minecraft/loot/ILootSerializer;)Lnet/minecraft/loot/LootFunctionType; #func_237451_a_
public net.minecraft.loot.LootEntryManager func_237419_a_(Ljava/lang/String;Lnet/minecraft/loot/ILootSerializer;)Lnet/minecraft/loot/LootPoolEntryType; #func_237419_a_
public net.minecraft.client.gui.fonts.FontResourceManager field_238546_d_ #field_238546_d_
# Used for FastResourceAccess
public net.minecraft.resources.SimpleReloadableResourceManager field_199014_c # namespaceResourceManagers
# Used for world gen in 1.16.2
public net.minecraft.world.gen.feature.Features func_243968_a(Ljava/lang/String;Lnet/minecraft/world/gen/feature/ConfiguredFeature;)Lnet/minecraft/world/gen/feature/ConfiguredFeature; #register
public net.minecraft.world.gen.feature.Feature func_214468_a(Ljava/lang/String;Lnet/minecraft/world/gen/feature/Feature;)Lnet/minecraft/world/gen/feature/Feature; #register
# Used for village generation
public net.minecraft.world.gen.feature.jigsaw.LegacySingleJigsawPiece <init>(Lcom/mojang/datafixers/util/Either;Ljava/util/function/Supplier;Lnet/minecraft/world/gen/feature/jigsaw/JigsawPattern$PlacementBehaviour;)V
# Used to mark Fabulous as unsupported when stencil is enabled
public net.minecraft.client.renderer.GPUWarning field_241688_c_ # warnings map
public net.minecraft.world.gen.feature.template.Template$Palette <init>(Ljava/util/List;)V # Template.Palette constructor
public net.minecraft.world.gen.feature.template.Template field_186272_c # size
